/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

/* COMMON */

.flex{
    display: flex;
}

:root{
    --header-height: 60px;
}

.w-60{
    width: 60%;
}

.container{
    margin: auto;
}

h2{
    /* debug */
    height: 50px;
    background-color: red;
}

.img{
    flex-grow: 1;

    /* debug */
    height: 300px;
    background-color: lightseagreen;
}

/* HEADER */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;

    /* debug */
    background-color: blue;
}

header > .flex{
    justify-content: space-between;
    align-items: center;
}

.left-header, .right-header{
    width: 30%;
    height: var(--header-height);

    /* debug */
    background-color: green;
}

/* MAIN */

/* HERO SECTION */

main{
    margin-top: var(--header-height);
}

.hero-section{
    background-color: rgb(180 208 231);
    padding: 30px 0 0;
}

.hero-section > .container{
    position: relative;
    top: 30px;
}

.hero-section h1{

    /* debug */
    background-color: lightcoral;
    height: 80px;
}

.hero-content{
    width: 30%;

    /* debug */
    height: 300px;
    background-color: lightgreen;
}

/* BUSINESS PLANS */

.business-plans{
    padding-top: 100px;
    /* debug */
    background-color: blueviolet;
    min-height: 500px;
}

.plan-payments{
    margin: 40px 0;

    /* debug */
    background-color: brown;
    height: 40px;
}

.plan-type{
    justify-content: space-between;
    margin-bottom: 30px;

    /* debug */
    height: 500px;
}

.plan-type > *{
    width: calc(100% / 3 - 30px);

    /* debug */
    background-color: brown;
}

.enterprise-plan2{
    /* debug */
    height: 100px;
    background-color: brown;
}

/* PARTNERS */

.partners{
    padding: 50px 0;

    /* debug */
    background-color: palevioletred;
}

.partners-content{
    width: 30%;

    /* debug */
    background-color: aqua;
}



/* FOOTER */